img {
  width: 250px;
}

body {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  margin: 20px;
}

p {
  width: 280px;
  margin: 0;
}

button {
  padding: 10px 20px 10px 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  position: absolute;
  margin: 20px;
  font-weight: 700;
}